body{
	background: #eeeeee;
}

#js_video{
	position: absolute;
	width: 100%;
	left: 0;
	top: 100px;

}

.active{
	background: red !important;
}

.kg-zhibo-list{
	background: #eeeeee;

	.list-group-item{
		background: transparent;
	}

	.t-34{

		.box{
			padding: 7px 13px;
			width: 150px;
			max-width: 300px;
			cursor: pointer;
			position: relative;
			background: #ffffff;
			display: inline-block;
		}


		.icon{
			background: url('/image/weixinicon.png') 0 -2427px;
			width: 23px;
			height: 23px;
			vertical-align: middle;
			display: inline-block;
		}
		span{
			font-size: 14px;
			color: #666;
			position: relative;
			left: 5px;
		}
	}
}


