@charset "UTF-8";
* {
  font-family: '微软雅黑',sans-serif, Arial, Verdana, "Trebuchet MS"; }

body {
  background: #eeeeee; }

#js_video {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5); }
  #js_video video {
    width: 100%;
    height: 80%;
    margin-top: 10%; }

.kg-active {
  background: red !important; }

.full-container {
  width: 100%; }

.container {
  max-width: 960px; }

.kg-emo, .emoji {
  display: inline-block;
  background: url("/image/emo1.png") top left no-repeat;
  width: 22px;
  height: 22px;
  vertical-align: top;
  margin: 0 2px; }

.emoji {
  background: url("/image/emo2.png") top left no-repeat; }

.emo-0 {
  background-position: -3px -4px; }

.emo-1 {
  background-position: -32px -4px; }

.emo-2 {
  background-position: -61px -4px; }

.emo-3 {
  background-position: -90px -4px; }

.emo-4 {
  background-position: -119px -4px; }

.emo-5 {
  background-position: -148px -4px; }

.emo-6 {
  background-position: -177px -4px; }

.emo-7 {
  background-position: -206px -4px; }

.emo-8 {
  background-position: -235px -4px; }

.emo-9 {
  background-position: -264px -4px; }

.emo-10 {
  background-position: -292px -4px; }

.emo-11 {
  background-position: -322px -4px; }

.emo-12 {
  background-position: -351px -4px; }

.emo-13 {
  background-position: -380px -4px; }

.emo-14 {
  background-position: -409px -4px; }

.emo-15 {
  background-position: -3px -33px; }

.emo-16 {
  background-position: -32px -33px; }

.emo-17 {
  background-position: -61px -33px; }

.emo-18 {
  background-position: -90px -33px; }

.emo-19 {
  background-position: -119px -33px; }

.emo-20 {
  background-position: -148px -33px; }

.emo-21 {
  background-position: -177px -33px; }

.emo-22 {
  background-position: -206px -33px; }

.emo-23 {
  background-position: -235px -33px; }

.emo-24 {
  background-position: -264px -33px; }

.emo-25 {
  background-position: -292px -33px; }

.emo-26 {
  background-position: -322px -33px; }

.emo-27 {
  background-position: -351px -33px; }

.emo-28 {
  background-position: -380px -33px; }

.emo-29 {
  background-position: -409px -33px; }

.emo-30 {
  background-position: -3px -61px; }

.emo-31 {
  background-position: -32px -61px; }

.emo-32 {
  background-position: -61px -61px; }

.emo-33 {
  background-position: -90px -61px; }

.emo-34 {
  background-position: -119px -61px; }

.emo-35 {
  background-position: -148px -61px; }

.emo-36 {
  background-position: -177px -61px; }

.emo-37 {
  background-position: -206px -61px; }

.emo-38 {
  background-position: -235px -61px; }

.emo-39 {
  background-position: -264px -61px; }

.emo-40 {
  background-position: -292px -61px; }

.emo-41 {
  background-position: -322px -61px; }

.emo-42 {
  background-position: -351px -61px; }

.emo-43 {
  background-position: -380px -61px; }

.emo-44 {
  background-position: -409px -61px; }

.emo-45 {
  background-position: -3px -90px; }

.emo-46 {
  background-position: -32px -90px; }

.emo-47 {
  background-position: -61px -90px; }

.emo-48 {
  background-position: -90px -90px; }

.emo-49 {
  background-position: -119px -90px; }

.emo-50 {
  background-position: -148px -90px; }

.emo-51 {
  background-position: -177px -90px; }

.emo-52 {
  background-position: -206px -90px; }

.emo-53 {
  background-position: -235px -90px; }

.emo-54 {
  background-position: -264px -90px; }

.emo-55 {
  background-position: -292px -90px; }

.emo-56 {
  background-position: -322px -90px; }

.emo-57 {
  background-position: -351px -90px; }

.emo-58 {
  background-position: -380px -90px; }

.emo-59 {
  background-position: -409px -90px; }

.emo-60 {
  background-position: -3px -119px; }

.emo-61 {
  background-position: -32px -119px; }

.emo-62 {
  background-position: -61px -119px; }

.emo-63 {
  background-position: -90px -119px; }

.emo-64 {
  background-position: -119px -119px; }

.emo-65 {
  background-position: -148px -119px; }

.emo-66 {
  background-position: -177px -119px; }

.emo-67 {
  background-position: -206px -119px; }

.emo-68 {
  background-position: -235px -119px; }

.emo-69 {
  background-position: -264px -119px; }

.emo-70 {
  background-position: -292px -119px; }

.emo-71 {
  background-position: -322px -119px; }

.emo-72 {
  background-position: -351px -119px; }

.emo-73 {
  background-position: -380px -119px; }

.emo-74 {
  background-position: -409px -119px; }

.emo-75 {
  background-position: -3px -148px; }

.emo-76 {
  background-position: -32px -148px; }

.emo-77 {
  background-position: -61px -148px; }

.emo-78 {
  background-position: -90px -148px; }

.emo-79 {
  background-position: -119px -148px; }

.emo-80 {
  background-position: -148px -148px; }

.emo-81 {
  background-position: -177px -148px; }

.emo-82 {
  background-position: -206px -148px; }

.emo-83 {
  background-position: -235px -148px; }

.emo-84 {
  background-position: -264px -148px; }

.emo-85 {
  background-position: -292px -148px; }

.emo-86 {
  background-position: -322px -148px; }

.emo-87 {
  background-position: -351px -148px; }

.emo-88 {
  background-position: -380px -148px; }

.emo-89 {
  background-position: -409px -148px; }

.emo-90 {
  background-position: -3px -177px; }

.emo-91 {
  background-position: -32px -177px; }

.emo-92 {
  background-position: -61px -177px; }

.emo-93 {
  background-position: -90px -177px; }

.emo-94 {
  background-position: -119px -177px; }

.emo-95 {
  background-position: -148px -177px; }

.emo-96 {
  background-position: -177px -177px; }

.emo-97 {
  background-position: -206px -177px; }

.emo-98 {
  background-position: -235px -177px; }

.emo-99 {
  background-position: -264px -177px; }

.emo-100 {
  background-position: -292px -177px; }

.emo-101 {
  background-position: -322px -177px; }

.emo-102 {
  background-position: -351px -177px; }

.emo-103 {
  background-position: -380px -177px; }

.emo-104 {
  background-position: -409px -177px; }

.kg-zhibo-index .nav-tabs .nav-item {
  float: left;
  margin-bottom: -1px; }
  .kg-zhibo-index .nav-tabs .nav-item a {
    font-size: 14px; }
.kg-zhibo-index .tab-content {
  min-height: 50px; }
  .kg-zhibo-index .tab-content .list-group-item {
    border-top: none;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px; }
    .kg-zhibo-index .tab-content .list-group-item h4 {
      font-size: 20px; }
    .kg-zhibo-index .tab-content .list-group-item p {
      color: #989898; }
  .kg-zhibo-index .tab-content .list-group-item:first-child {
    border-radius: 0; }

.kg-zhibo-add .row {
  margin: 20px 0 10px; }
  .kg-zhibo-add .row label {
    padding-left: 15px; }
  .kg-zhibo-add .row .require:after {
    content: '*';
    color: #f00;
    position: relative;
    top: 2px;
    left: 5px; }
  .kg-zhibo-add .row div.col-sm-8 {
    padding-right: 15px; }
.kg-zhibo-add .cke_bottom {
  display: none; }

.kg-zhibo-list-info {
  background-color: #dff0d8;
  border-color: #d0e9c6; }
  .kg-zhibo-list-info .row {
    margin: 30px 0 20px; }
  .kg-zhibo-list-info .col {
    text-align: left;
    color: #3c763d;
    padding: 0; }
  .kg-zhibo-list-info .col-md-2 {
    font-size: 20px;
    color: #2c763d; }

.kg-zhibo-list {
  background: #eee; }
  .kg-zhibo-list .list-group-item {
    background: transparent; }
  .kg-zhibo-list .txt {
    white-space: normal;
    word-break: break-all;
    display: inline-block;
    background: #ffffff;
    padding: 8px 10px;
    position: relative;
    border-radius: 4px;
    color: #111;
    line-height: 22px; }
    .kg-zhibo-list .txt em {
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border: 8px solid;
      border-color: transparent #ffffff transparent transparent;
      top: 5px;
      left: -16px; }
  .kg-zhibo-list .t-34 .box {
    padding: 7px 13px;
    width: 150px;
    max-width: 300px;
    cursor: pointer;
    position: relative;
    background: #ffffff;
    display: inline-block; }
  .kg-zhibo-list .t-34 .icon {
    background: url("/image/weixinicon.png") 0 -2427px;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    display: inline-block; }
  .kg-zhibo-list .t-34 span {
    font-size: 14px;
    color: #666;
    position: relative;
    left: 5px; }

/* common end */

/*# sourceMappingURL=main.css.map */
