*{
	font-family: '微软雅黑',sans-serif, Arial, Verdana, "Trebuchet MS";
}

body{
	background: #eeeeee;
}

#js_video{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);

	video{
		width: 100%;
		height: 80%;
		margin-top: 10%;
	}
}

.kg-active{
	background: red !important;
}

.full-container{
	width: 100%;
}
.container{
	max-width: 960px;
}



$border-color:#ddd;

@import "emote";
@import "zhibo";

/* common end */






