<template name="AdminGroupList">

    <div class="container">
        <style>
            .kg-admin-list th, .kg-admin-list td{
                border: 1px solid #a1a1a1;
                padding: 4px 8px;
            }
        </style>

        <table class="kg-admin-list" style="border: 1px solid #dddddd;">

            <tr>
                <th>UserName</th>
                <th>NickName</th>
                <th>Member Count</th>
            </tr>

            {{#if list}}
            {{#each list}}
            <tr class="js_ck" param="{{UserName}}">

                <td>{{UserName}}</td>
                <td>{{NickName}}</td>
                <td>{{MemberCount}}</td>

            </tr>
            {{/each}}
            {{/if}}

        </table>
    </div>

    {{> AdminGroupMemberList}}
    {{> AdminGroupRole}}

</template>

<template name="AdminGroupMemberList">
    <div class="container" style="padding-bottom: 50px;">

        <table class="kg-admin-list" style="margin-top: 30px;">

            <tr>
                <th>HeadImage</th>
                <!--<th>UserName</th>-->
                <th>NickName</th>
                <th>DisplayName</th>
            </tr>

            {{#each list}}
                <tr>
                    <td><img style="width: 40px;height: 40px;" src="/weixin/user/headimage?id={{UserName}}" /></td>
                    <!--<td>{{UserName}}</td>-->
                    <td>{{NickName}}</td>
                    <td>{{DisplayName}}</td>
                </tr>
            {{/each}}



        </table>
    </div>
</template>

<template name="AdminGroupRole">
    <div class="container">
        <style>
            .kg-admin-list th, .kg-admin-list td{
                border: 1px solid #a1a1a1;
                padding: 4px 8px;
            }
        </style>

        <div class="panel panel-success" style="margin-top: 20px;">
            <div class="panel-heading">{{QunName}}</div>
            <div class="panel-body">
                <table class="kg-admin-list" style="">
                    <tr>
                        <th>Key</th>
                        <th>Reply</th>
                        <!--<th>CreateTime</th>-->
                        <th>Action</th>
                    </tr>
                    {{#each list}}
                        <tr>
                            <td>{{key}}</td>
                            <td style="word-break: break-all;">{{result}}</td>
                            <!--<td>{{formatDate createTime}}</td>-->
                            <td><button class="btn btn-danger js_del" param="{{_id}}">Delete</button></td>
                        </tr>
                    {{/each}}

                </table>
            </div>
        </div>


        <div class="kg-zhibo-add">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 20px;">添加规则</div>
                <div class="panle-body" style="padding: 20px 0;">
                    <form class="js_form">
                        <div class="row">
                            <label class="col-sm-2 control-label require">关键字</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control js_key" placeholder="">
                            </div>
                        </div>



                        <div class="row">
                            <label class="col-sm-2 control-label require">回复</label>
                            <div class="col-sm-8">
                                <textarea class="form-control js_textarea" placeholder=""></textarea>
                            </div>
                        </div>

                        <a style="margin: 30px auto 10px;display: block;width: 120px;" data-loading-text="正在提交..." type="button" class="js_btn1 btn btn-primary">提交</a>


                    </form>
                </div>

            </div>
        </div>



        <div class="kg-zhibo-add">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 20px;">新入群的欢迎信息</div>
                <div class="panle-body" style="padding: 20px 15px;">

                    <table class="kg-admin-list" style="width: 100%;">
                        <tr>
                            <th>Info</th>
                            <th>Action</th>
                        </tr>
                        {{#with welcomeRole}}
                            <tr>
                                <td style="word-break: break-all;">{{result}}</td>
                                <td><button class="btn btn-danger js_del" param="{{_id}}">Delete</button></td>
                            </tr>
                        {{/with}}

                    </table>

                    <form class="js_form">

                        <div class="row">
                            <label class="col-sm-2 control-label require">信息</label>
                            <div class="col-sm-8">
                                <textarea class="form-control js_textarea1" placeholder="只有一条，如果已经存在会自动替换, {NewUser}可以自动替换为新加入的群成员"></textarea>
                            </div>
                        </div>

                        <a style="margin: 30px auto 10px;display: block;width: 120px;" data-loading-text="正在提交..." type="button" class="js_btn2 btn btn-primary">提交</a>


                    </form>
                </div>

            </div>
        </div>
    </div>
</template>


<template name="AdminGroupRoleDefine">
    {{> AdminGroupMemberList}}
    {{> AdminGroupRole}}

    <div class="container">
        <div class="kg-zhibo-add">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 20px;">发送即时信息</div>
                <div class="panle-body" style="padding: 20px 15px;">

                    <form class="js_form">

                        <div class="row">
                            <label class="col-sm-2 control-label require">信息</label>
                            <div class="col-sm-8">
                                <textarea class="form-control js_msg" placeholder=""></textarea>
                            </div>
                        </div>

                        <a style="margin: 30px auto 10px;display: block;width: 120px;" data-loading-text="正在提交..." type="button" class="js_btn3 btn btn-primary">发送</a>


                    </form>
                </div>

            </div>
        </div>

    </div>
</template>