<template name="AddZhiBo">

    <div class="container">
        <div class="page-header">
            <h4 style="text-align: center;">群直播登记</h4>
            <small></small>
        </div>
    </div>



    <form class="container form-horizontal js_form">
        <div class="form-group">
            <label class="col-sm-3 control-label require">题目</label>
            <div class="col-sm-9">
                <input type="text" class="form-control js_title" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label require">群名称</label>
            <div class="col-sm-9">
                <input type="text" class="form-control js_qun" placeholder="">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label require">群简介</label>
            <div class="col-sm-9">
                <textarea class="form-control js_info" placeholder=""></textarea>
            </div>
        </div>

        <button style="margin-top: 40px;float: right;" data-loading-text="正在提交..." type="button" class="js_btn1 btn btn-primary">提交</button>


    </form>



</template>