<template name="ZhiBoList">

    <!--<div class="container">-->
        <!--<div class="list-group">-->

            <!--{{#each list}}-->
            <!--<a href="{{pathFor 'ZhiBoMessageList' zhiboId=_id}}" class="list-group-item">-->
                <!--<h4 class="list-group-item-heading">{{title}}</h4>-->
                <!--<p class="list-group-item-text">{{description}}</p>-->
            <!--</a>-->
            <!--{{/each}}-->

        <!--</div>-->
    <!--</div>-->

</template>


<template name="ZhiBoMessageList">

    <div class="full-container kg-zhibo-list-info">
        <div class="container">
            <div class="row">
                <div class="col col-md-2">标题:</div>
                <div class="col col-md-10">{{info.title}}</div>
            </div>
            <div class="row">
                <div class="col col-md-2">状态:</div>
                <div class="col col-md-10">进行中</div>
            </div>
            <div class="row">
                <div class="col col-md-2">描述:</div>
                <div class="col col-md-10">{{{decode info.description}}}</div>
            </div>
        </div>
    </div>

    <div class="list-group kg-zhibo-list container">

        {{#each list}}
        <div class="list-group-item" role-type="{{MsgType}}" style="position: relative;padding-left: 70px;min-height: 85px;border: none;">
            <img style="width: 40px;height: 40px;position: absolute;top: 10px;left: 15px;border-radius: 4px;" src="/weixin/user/headimage?id={{UserObject.UserName}}" />
            <h4 style="font-size: 14px;font-weight: 400;" class="list-group-item-heading">{{nickname}} <small style="">{{formatDate CreateTime}}</small></h4>


            {{#if equal MsgType 1}}
            <p class="list-group-item-text txt"><em></em>{{{formatEmote Content}}}</p>
            {{/if}}

            {{#if equal MsgType 3}}
            <p class="list-group-item-text txt"><em></em><img src="/weixin/log/image?id={{MsgId}}" /></p>
            {{/if}}

            {{#if equal MsgType 34}}
                <div class="t-34">
                    <div class="js_voice box" voice-id="{{MsgId}}" voice-len="{{calculateT34Second VoiceLength}}" style="width:{{calculateT34Width VoiceLength}};">
                        <i class="icon"></i>
                    </div>
                    <span>{{calculateT34Second VoiceLength}} '</span>
                </div>

            {{/if}}

            {{#if equal MsgType 43}}
                <p class="list-group-item-text txt t-43">
                    <em></em>
                    <video style="width: 100%;max-height: 420px;" controls="true" preload="metadata" poster="/weixin/log/image?id={{MsgId}}">
                        <source type="video/mp4" src="/weixin/log/video?id={{MsgId}}" />
                    </video>


                </p>
            {{/if}}

        </div>
        {{/each}}

    </div>

</template>